[run]
source = kapitour_shared
omit =
    */testes/*
    */__pycache__/*
    */middleware/*
    */core/app_factory.py
    */core/health.py
    */core/logging_config.py
    */core/__init__.py
    */banco_dados.py
    */database/*
    */clientes_http.py
    */contratos/*
    */fabricas.py
    */events/*
    */utilitarios.py

[report]
fail_under = 70
show_missing = true
